.advantages__tagline {
  .indent-zeroing;
  margin-top: 30px;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}

.advantages__list {
  .list-decoration-none;
  .indent-zeroing;
  text-align: center;
  background-color: #f2f2f2;
}

.advantages__title {
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
