.advantages__tagline {
  .indent-zeroing;
  margin-bottom: 25px;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}

.advantages-container {
  background-color: @gray;
  display: flex;
  flex-direction: column;
}

.advantages__list {
  .list-decoration-none;
  .indent-zeroing;
  margin-top: -60px;
  padding-top: 133px;
  text-align: center;

  background-color: @bg-gray;
  background-image: url("../../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position-y: -20px;
  background-position-y: 0;
}

.advantages__image {
  margin: 0 auto;
  margin-top: 18px;
}

.advantages__image-mood {
  display: none;
}

.advantages__title {
  margin: 0;
  padding: 0;
  padding-top: 8px;
  margin-top: 6px;
  margin-bottom: 11px;
  color: @black;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.advantages__description {
  width: 262px;
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

@media (min-width: @tablet-width) {
  .advantages {
    margin-top: 130px;
  }

  .advantages__tagline {
    font-size: 40px;
    line-height: 48px;
    margin: 0;
  }

  .advantages__tagline-exclamation {
    width: 340px;
    margin: 0 auto;
    margin-top: -2px;
    padding-bottom: 45px;
  }

  .advantages__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 73px;
    margin-top: 0;
    background-position-y: -40px;
    background-size: auto;
  }

  .advantages__item {
    align-self: flex-end;
    position: relative;
    margin-right: 30px;
    margin-left: 20px;
    margin-top: -25px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-left: 80px;
  }

  .advantages__item:nth-child(2) {
    margin-bottom: 10px;
  }

  .advantages__item:last-child {
    margin-bottom: -5px;
  }

  .advantages__description {
    width: 300px;
    text-align: start;
  }

  .advantages__title {
    text-align: start;
  }

  .advantages__image {
    width: 270px;
    height: 482px;
    position: absolute;
    top: -350px;
    left: -230px;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    margin-top: 160px;
  }

  .advantages__tagline {
    width: 750px;
    margin: 0 auto;

    font-size: 50px;
    line-height: 60px;
  }

  .advantages__tagline-exclamation {
    width: 430px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .advantages__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px 30px;
    padding-left: 160px;
    padding-right: 160px;
  }

  .advantages__item {
    display: flex;
    flex-direction: column;
    width: 254px;
  }

  .advantages__description {
    width: 248px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  .advantages__title {
    width: 226px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }


  .advantages__image {
    width: 190px;
    height: 308px;
    position: static;
    order: 1;
  }

  .advantages__image-mood {
    display: block;
  }
}
