.download {
  background-color: @navy;
}

.download__photo-wrapper {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -70px;
}

.download__photo {
  margin-top: 110px;
  margin-bottom: -10px;
}

.download__list {
  .list-decoration-none;
  margin-left: 57px;
  display: flex;
  flex-wrap: wrap;
}

.download__item {
  margin-right: 30px;
}

.download__tagline {
  padding: 20px;
  text-align: center;
  color: @white;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.download__button {
  display: inline-block;
  padding: 14px 30px;
  margin: 20px;
  text-align: center;
  color: @white;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  border: 2px solid @white;
  border-radius: 30px;
}
