.efficiency {
  display: none;
  padding-left: 20px;
}

@media (min-width: @tablet-width) {
  .efficiency {
    display: flex;
    width: 660px;
  }

  .efficiency__image {
    margin-right: 65px;
    width: 238px;
    height: 278px;
    fill: @gray;
  }

  .efficiency-text-container {
    margin-top: 15px;
  }

  .efficiency__title {
    width: 170px;
    margin-bottom: -5px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: @black;
  }

  .efficiency__text {
    width: 295px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 24px;
  }

  .efficiency__link {
    color: @pink;
    text-decoration: underline;
  }
}
