.efficiency {
  display: none;
}

@media (min-width: @tablet-width) {
  .efficiency {
    display: block;
  }

  .efficiency__container {
    position: relative;
    padding-left: 20px;
    display: flex;
    width: 660px;
  }

  .efficiency__image {
    margin-right: 67px;
    margin-top: 3px;
    width: 239px;
    height: 278px;
    fill: @gray-alarm;
  }

  .efficiency__nomber {
    display: block;
    position: absolute;
    top: 140px;
    left: 84px;
    color: @pink;
    font-size: 96px;
    font-weight: 700;
  }

  .efficiency__nomber::after {
    content: "";
    position: absolute;
    left: -46px;
    top: -81px;
    width: 175px;
    height: 175px;
    border: 14px solid @pink;
    border-radius: 50%;
  }

  .efficiency-text-container {
    margin-top: 15px;
  }

  .efficiency__title-container {
    margin-top: 26px;
    margin-left: 3px;
    margin-bottom: -4px;
  }

  .efficiency__title {
    width: 170px;
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: @black;
  }

  .efficiency__title-desktop {
    display: none;
  }

  .efficiency__text {
    width: 300px;
    margin-bottom: 7px;
    margin-left: 3px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
  }

  .efficiency__link {
    position: relative;
    color: @pink;
    margin-left: 3px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
  }

  .efficiency__link::after {
    position: absolute;
    top: 17px;
    left: 0;
    content: "";
    width: 225px;
    height: 1px;
    background-color: @pink;
  }
}

@media (min-width: @desktop-width) {
  .efficiency {
    padding-bottom: 60px;
    background-color: @gray;
    padding-bottom: 112px;
  }

  .efficiency__image {
    position: absolute;
    width: 304px;
    height: 345px;
    top: 3px;
    left: 127px;
    fill: @gray-alarm;
  }

  .efficiency-text-container {
    margin-left: 473px;
  }

  .efficiency__nomber {
    font-size: 120px;
    left: 210px;
    top: 181px;
  }

  .efficiency__nomber::after {
    left: -57px;
    top: -105px;
    width: 220px;
    height: 220px;
    border: 16px solid @pink;
  }

  .efficiency__title {
    display: none;
  }

  .efficiency__title-desktop {
    display: block;
    width: 310px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: @black;
    margin-top: 82px;
    margin-bottom: 22px;
  }

  .efficiency__text {
    width: 525px;
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
  }

  .efficiency__link {
    font-size: 18px;
    line-height: 30px;
  }

  .efficiency__link::after {
    top: 22px;
    left: 0;
    width: 290px;
  }
}
