.page-form__text {
  width: 280px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 35px;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
}

.page-form__text-mob-hidden {
  display: none;
}

.page-form__achievments {
  margin-top: 25px;
}

.page-form__contacts {
  margin-top: 32px;
  margin-bottom: 40px;
}

.page-form__impressions {
  margin-top: 31px;
}

.page-form__button {
  display: block;
  margin: 0 auto;
  margin-top: 28px;
  padding: 16px 47px;
  padding-top: 17px;
  padding-bottom: 15px;
  background-color: @green;
  color: @white;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;

  &:hover {
    background-color: @green-hover;
  }

  &:active {
    color: #7dbd99;
  }
}

.page-form__footnote {
  margin-top: 35px;
  margin-bottom: 55px;
  margin-left: -2px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
}

.page-form__footnote-mob-hidden {
  display: none;
}

.page-form__footnote-star {
  color: @pink;
}

@media (min-width: @tablet-width) {
  .page-form__block-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 33px;
  }

  .page-form__apps {
    order: 1;
    margin: 0 auto;
    margin-top: -10px;
  }

  .page-form__contacts {
    order: 2;
    margin: 0 auto;
    margin-top: 50px;
  }

  .page-form__achievments {
    order: 3;
    margin: 0 auto;
    margin-top: 19px;
    margin-bottom: 24px;
  }

  .page-form__impressions {
    order: 4;
    margin: 0 auto;
    margin-top: 27px;
  }

  .page-form__text {
    width: 500px;
    margin-top: 48px;
    margin-bottom: 30px;
    padding-top: 44px;
    font-size: 18px;
    line-height: 30px;
  }

  .page-form__text-mob-hidden {
    display: inline-block;
  }

  .page-form__button-container {
    display: flex;
    padding-top: 6px;
    padding-left: 19px;
    padding-right: 20px;
    margin-bottom: 50px;
  }

  .page-form__button {
    height: 64px;
    padding: 0 57px;
    margin-left: 0;
  }

  .page-form__footnote {
    margin-top: 47px;
  }
}

@media (min-width: @desktop-width) {
  .page-form__text {
    width: 770px;
  }

  .page-form__block-container {
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 12px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .page-form__apps {
    margin-left: 42px;
    margin-top: -7px;
  }

  .page-form__contacts {
    margin-top: -20px;
  }

  .page-form__button-container {
    padding-left: 130px;
    padding-right: 130px;
    margin-top: -3px;
    margin-bottom: 35px;
  }

  .page-form__footnote-mob-hidden {
    display: inline-block;
  }
}
