.page-footer {
  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  text-align: center;
  margin-bottom: 40px;
}

.page-footer__social-list {
  .list-decoration-none;
  width: 180px;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: -9px;
  /*margin-left: 90px;*/
  display: flex;
}

.page-footer__social-item {
  padding: 8px 15px;
  border: 2px solid #e9ebec;
  border-radius: 50%;
}

.page-footer__social-item-tw {
  margin-left: 2px;
}

.page-footer__social-item-fb {
  margin-left: 14px;
  padding: 8px 20px;
}

.page-footer__social-item-yb {
  margin-left: 14px;
}

.page-footer__social-svg path {
  fill: @pink;
}

.page-footer__copyright {
  position: relative;
  margin-top: -15px;
}

.page-footer__copyright-text {
  margin-left: 97px;
}

.page-footer__copyright-logo {
  position: absolute;
  right: 96px;
  top: 13px;
}

.page-footer__copyright-svg {
  fill: @pink;
}

@media (max-width: @mobile-width-only) {
  .page-footer-index {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 624px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-footer__social-list {
    margin-top: 7px;
  }

  .page-footer__social-item-tw {
    margin-left: 0;
  }

  .page-footer__social-item-fb {
    margin-left: 10px;
  }

  .page-footer__copyright-logo {
    right: -30px;
  }

  .page-footer__copyright {
    width: 140px;
    margin-top: 0;
  }

  .page-footer__copyright-text {
    margin-left: 9px;
  }

  .page-footer__copyright-logo {
    right: 2px;
    top: 13px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 940px;
  }

  .page-footer__copyright {
    width: 164px;
  }

  .page-footer__copyright-text {
    font-size: 18px;
    line-height: 24px;
  }
}
