.page-index__download {
  margin-top: -1px;
  margin-bottom: 40px;
}

.page-index__reviews {
  margin-top: -52px;
  margin-bottom: 20px;
}

.page-index__efficiency {
  margin-top: 60px;
  margin-bottom: 80px;
}

.page-index__tariffs {
  margin-bottom: 42px;
}

@media (min-width: @tablet-width) {
  .page-index__reviews {
    margin-top: 0;
  }

  .page-index__contacts {
    margin-top: 47px;
    margin-bottom: 38px;
  }

  .page-index__efficiency {
    margin-top: 55px;
    margin-bottom: 45px;
  }

  .page-index__download {
    margin-top: -380px;
  }

  .page-index__advantages {
    margin-top: 128px;
  }
}

@media (min-width: @desktop-width) {
  .page-index__reviews {
    margin-top: 160px;
  }

  .page-index__efficiency {
    margin-top: 0px;
  }

  .page-index__contacts {
    margin-top: 64px;
    margin-bottom: 70px;
  }

  .page-index__download {
    margin-top: -432px;
    margin-left: 110px;
  }
}
