.page-index__reviews {
  margin-top: -52px;
}

.page-index__efficiency {
  margin-top: 60px;
  margin-bottom: 80px;
}

@media (min-width: @tablet-width) {
  .page-index__reviews {
    margin-top: 110px;
  }
}
