.page-header {
  margin-bottom: -70px;
  background-color: @bg-navy;
  padding-top: 9px;
}

.page-header__logo {
  position: relative;
  z-index: 20;
  display: inline-block;
  left: -68px;
  padding-bottom: 2px;
}

.page-header__logo-image-glass-desktop {
  display: none;
}

.page-header__logo-image-glass-tablet {
  display: none;
}

.page-header__logo-image-stars {
  display: none;
}

.page-header__logo:hover path {
  fill: @pink;
}

.page-header__logo:active path {
  fill: @white;
  opacity: 0.3;
}

@media (max-width: @mobile-tablet-width-only) {
  .page-header__logo {
    margin-left: 15px;
    margin-top: 8px;
    margin-bottom: 13px;
  }

  .page-header__logo-image {
    margin-top: -13px;
    margin-left: 2px;
  }
}


@media (min-width: @tablet-width) {
  .page-header__logo {
    margin-left: 15px;
    margin-bottom: 32px;
    padding-top: 18px;
    margin-top: 8px;
  }

  .page-header__logo-image-glass-tablet {
    display: inline-block;
  }

  .page-header__logo-image {
    width: 152px;
    height: 40px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    display: flex;
    position: relative;
    padding: 40px 130px 32px 130px;
    margin-bottom: -230px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .page-header__logo {
    margin-top: -11px;
    margin-bottom: 0;
    margin-left: -2px;
    padding-top: 0;
  }

  .page-header__logo-image-glass-desktop {
    display: inline-block;
  }

  .page-header__logo-image-stars {
    display: inline-block;
  }

  .page-header__logo-image-glass-tablet {
    display: none;
  }
}
