.page-header {
  position: relative;
  background-color: @bg-navy;
  padding-top: 15px;
}

.page-header__logo {
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 13px;
  background-image: url("../img/logo-pink-white-tablet");
  background-color: green;
}

.page-header__toggle {
  position: absolute;
  right: 20px;
  width: 26px;
  height: 26px;

  font-size: 0;

  background-color: transparent;
  background-image: url("../img/icon-menu-cross.svg");
  background-repeat: no-repeat;
  border: 2px solid transparent;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    width: 150px;
    background-color: yellow;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    display: flex;
    padding: 40px 130px 10px 130px;
    margin-bottom: -107px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .page-header__toggle {
    display: none;
  }
}
