.reviews {
  width: 320px;
}

.reviews__auther-name {
  display: block;
  width: 180px;
  margin: 0 auto;
  text-align: center;
}

.reviews__quote {
  display: block;
  width: 280px;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
}
