.slider__toggle{
  display: inline-block;
  width: 6px;
  height: 6px;
  color: transparent;
  border: 1px solid transparent;
  background-color: #b5b9be;
  border-radius: 50%;
}

.slider__toggle-current {
  background-color: @white;
  border: 3px solid #283645;
}
