.tariffs {
  background-color: @gray;
}

.tariffs__list {
  display: table;
  width: 620px;
  overflow: hidden;
}

.tariffs__option-list {
  display: table-row;
}

.tariffs__option-item {
  display: table-cell;
  padding-left: 10px;
  background-color: @white;
  height: 45px;
  border-left: 2px solid @gray;
  border-bottom: 2px solid @gray;
}

.tariffs__price-list {
  display: table-row;
  background-color: @bg-navy;
  color: @white;
  text-transform: uppercase;
}

.tariffs__price-item {
  display: table-cell;
  width: 1px;
  text-align: center;
}

.tariffs__price-item:nth-child(3) {
  width: 255px;
  border-left: 2px solid @white;
  border-right: 2px solid @white;
}

.tariffs__price-item-text-hidden {
  font-size: 0;
  background-color: @gray;
}

.tariffs__price-item-mobile-hidden {
  display: none;
}

.tariffs__plan {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
}

.tarifs__price {
  margin-top: -15px;
  margin-bottom: 21px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}

.tariffs__only-mobile {
  display: inline-block;
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: 13px;
  margin-left: 10px;
  margin-right: 79px;
}

.tariffs__pinkfilter-list {
  display: table-row;
}

.tariffs__pinkfilter-item {
  display: table-cell;
}

.tariffs__option-svg-yes {
  width: 40px;
  height: 20px;
  display: inline-block;
  text-align: end;
  fill: @green;
}

.tariffs__option-svg-no {
  display: inline-block;
  margin: 0 auto;
  fill: @red;
}

.tariffs__option-svg-yes-1rmobile {
  margin-top: 19px;
}

.tariffs__slider {
  display: block;
  text-align: center;
}

.reviews__item {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .tariffs__price-item {
    width: 158px;
  }
}
