.tariffs {
  background-color: @gray;
  padding-top: 100px;
}

.tariffs__list {
  width: 404px;
  display: table;
  margin: 0 auto;
}

.tariffs__option-list {
  display: table-row;
}

.tariffs__option-item {
  display: table-cell;
  padding-left: 10px;
  background-color: @white;
  height: 45px;
  border-left: 2px solid @gray;
  border-bottom: 2px solid @gray;
}

.tariffs__price-list {
  display: table-row;
  background-color: @bg-navy;
  color: @white;
  text-transform: uppercase;
}

.tariffs__price-item {
  display: table-cell;
  width: 60px;
  text-align: center;
}

.tariffs__price-item:nth-child(3) {
  width: 280px;
  box-sizing: border-box;
  border-left: 2px solid @white;
  border-right: 2px solid @white;
}

.tariffs__price-item-text-hidden {
  font-size: 0;
  background-color: @gray;
}

.tariffs__price-item-mobile-hidden {
  display: none;
}

.tariffs__plan {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
}

.tarifs__price {
  margin-top: -15px;
  margin-bottom: -8px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}

.tariffs__only-mobile {
  display: inline-block;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 12px;
  margin-left: 10px;
}

.tariffs__pinkfilter-list {
  display: table-row;
}

.tariffs__pinkfilter-item {
  display: table-cell;
}

.tariffs__svg-text-container {
  display: flex;
  justify-content: space-between;
}

.tariffs__option-svg-yes {
  width: 40px;
  height: 20px;
  display: inline-block;
  margin-top: 15px;
  margin-right: 12px;
  fill: @green;
}

.tariffs__option-svg-no {
  display: inline-block;
  margin-top: 11px;
  margin-right: 18px;
  margin-bottom: 0;
  fill: @red;
}

.tariffs__option-svg-yes-1rmobile {
  margin-top: 19px;
}

.tariffs__slider {
  display: block;
  text-align: center;
}

.reviews__item {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .tariffs {
    width: 660px;
    padding-top: 88px;
  }
  .tariffs__list {
    width: 620px;
  }

  .tariffs__price-item {
    width: 158px;
    margin-left: 0;
  }

  .tariffs__price-item:nth-child(3) {
    width: 158px;
  }

  .tariffs__price-item-mobile-hidden {
    display: table-cell;
  }

  .tariffs__only-mobile {
    display: none;
  }

  .tarifs__price {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .tariffs__plan {
    margin-top: 13px;
    margin-bottom: 12px;
  }
}
