.title-wrapper {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.page-index__title {
  width: 230px;
  margin: 0 auto;
  margin-bottom: 106px;
  padding: 0;
  padding-top: 91px;
  padding-bottom: 80px;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: @white;
}
/*
.page-index__photo {
  margin-bottom: -10px;
  margin-top: -202px;
  background-color: green;
}
*/

.download__photo {
  margin-bottom: -10px;
  margin-top: -163px;
}

.page-form__title {
  width: 230px;
  margin: 0 auto;
  padding: 0;
  padding-top: 170px;
  padding-bottom: 55px;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: @white;
  background-color: red;
}

.page-photo__title {
  width: 230px;
  margin: 0 auto;
  padding-top: 98px;
  padding-bottom: 80px;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: @white;
}

@media (min-width: @tablet-width) {
  .title-wrapper {
    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-position-x: -270px;
      background-position-y: 0;
    }
  }

  .page-index__title {
    width: 190px;
    margin-left: 74px;
    margin-top: -110px;
    padding-top: 205px;
    padding-bottom: 380px;
    font-size: 40px;
    line-height: 48px;
  }

  .download__photo {
    width: 700px;
    height: 548px;
    position: absolute;
    left: 100px;
    top: 600px;
    z-index: 0;
  }

  .page-form__title {
    width: 480px;
    margin-top: -110px;
    padding-top: 179px;
    padding-bottom: 80px;
    font-size: 50px;
    line-height: 60px;
  }

  .page-photo__title {
    width: 356px;
    margin-top: -110px;
    padding-top: 179px;
    padding-bottom: 140px;
    font-size: 50px;
    line-height: 60px;
  }
}

@media (min-width: @desktop-width) {
  .title-wrapper {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position-x: -680px;
    background-position-y: 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .title-wrapper-form {
    background-position-y: 95px;
  }

  .title-wrapper-index {
    background-position-y: 110px;
    min-height: 960px;
  }

  .download__photo {
    position: absolute;
    left: 900px;
  }

  .page-form__title {
    width: 750px;
    padding-top: 268px;
    padding-bottom: 102px;
  }

  .page-photo__title {
    width: 370px;
    padding-top: 268px;
    padding-bottom: 102px;
    font-size: 50px;
    line-height: 60px;
  }

  .page-index__title {
    width: 260px;
    padding-top: 325px;
    padding-left: 76px;
    font-size: 50px;
    line-height: 60px;
  }
}
