.user-impressions {
  margin-top: 27px;
}

.user-impressions__field {
  border: none;
}

.user-impressions__legend {
  color: @pink;
  text-transform: uppercase;
  text-align: center;
}

.user-impressions__textarea {
  width: 280px;
  margin-top: 3px;
  margin-left: 7px;
  padding-top: 15px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 30px;
  box-sizing: border-box;
  border: 2px solid @gray-border;
  border-radius: 2px;
  color: @bg-navy;
}
